# Git ignore of LoRaWAN Tracking System Project
# See repository at https://github.com/melvinmajor/lorawan-tracking-system
# ========================================================================

# Documents and useless files
thumbs.db
*.DS_Store

api-server/node_modules
